@charset "utf-8";
header{padding:0 30px; background: linear-gradient(to right, #042e6f, #042e6f 50%, #f2f2f2 50%, #f2f2f2);}
header .visual img{width:100%;}
header h1 {position:absolute; left:30px; top:0;}
